.hero {
    background-image: url(..//..//images/bgimageBitmap.png);
    max-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow: hidden;
    &__container {
        padding: 154px 0;
        h1 {
            @include subtitle;
            width: 40%;
            height: 112px;
            margin: 0;
        }
        &__title {
            margin: 40px 0 0 90px ;
            width: 30%;
            position: relative;

            p {
                font-family: 'Lexend Deca', sans-serif;
                margin: 0;
                font-weight: 400;
                font-size: 15px;
                line-height: 25px;
                color: $text-color-FFF;
                padding-bottom: 40px;
            }
            
            button {
                @include btn;
            }
        }

        &__title::before {
            content: "";
            background-image: url(..//..//images/svg/arrow-1.svg);
            width: 452px;
            height: 151px;
            display: inline-block;
            position: absolute;
            left: 120%;
            top: 20%;
        }

        &__title::after {
            content: "";
            background-image: url(..//..//images/svg/Path-2.svg);
            width: 203px;
            height: 15px;
            display: inline-block;
            position: absolute;
            top: 20%;
            right: 130%;
        }
    }
}

.hero::after {
    content: "";
    background-image: url(..//../images/svg/round-hero.svg);
    width: 203px;
    height: 63px;
    display: inline-block;
    position: absolute;
    right:-1%;
    top: 63%;
}


@media only screen and (max-width: 768px) {
    .hero {
        
        &__container {
            background-size: cover; 
            position: relative;
            padding: 137px 0 217px 0; 
            text-align: center;

            h1 {
                width: 70%;
                margin: auto;
            }

            &__title {
                margin: 0;
                width: 100%;
                padding-top: 24px;
                p {
                    width: 75%;
                    margin: auto;
                    padding-bottom: 32px;
                }
            }

            &__title::before {
                left: -150px;
                top: 120%;
            }

        }
    }
}

@media only screen and (max-width: 768px) {
    .hero::after {
    right:-2.2%;
    top: 83%;
}

}

@media only screen and (max-width: 576px) {
    .hero {
        &__container {
            padding: 115px 0 179px 0;

            h1 {
                width: 50%;
                height: 110px;
                margin: auto;
                font-weight: 700;
                font-size: 40px;
                line-height: 40px;
                letter-spacing: -0.8px;
            }

            &__title::before {
                left: -300px;
                top: 100%;
            }

        }
    }
    
    .hero::after {
        right:inherit;
        top: inherit;
    }

}

@media only screen and (max-width: 470px){
    .hero {

        &__container {

            h1 {
                width: 65%;
                height: 130px;
            }
        }
    }
}

@media only screen and (max-width: 375px){
    .hero {

        &__container {

            h1 {
                width: 85%;
                height: 130px;
            }
        }
    }
}