@mixin flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}



@mixin LexendDeca {
    font-family: 'Lexend Deca', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
}

@mixin btn {
    background: #FCB72B;
    padding: 14px 38px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

@mixin btnHov {
    border: 3px solid #FCB72B;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FCB72B;
}

@mixin subtitle {
    font-family: 'Lexend Deca', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    color: $text-color-FFF;
}